name: Test CI

on: [push, pull_request]

jobs:
  test-flake:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Check up flake configuration
        run: nix flake check --all-systems --show-trace

  test-project:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Fetch latest uzbek dictionaries
        uses: actions/checkout@v4
        with:
          repository: "uzbek-net/uz-hunspell"
          path: dict

      - name: Install hunspell dictionaries
        run: |
          sudo rm -rf /usr/share/hunspell
          sudo mkdir -p /usr/share/hunspell
          sudo cp ./dict/uz_UZ.aff /usr/share/uz-cyr.aff
          sudo cp ./dict/uz_UZ.dic /usr/share/uz-cyr.dic
          sudo cp ./dict/uz_UZ_Cyrl.aff /usr/share/uz-lat.aff
          sudo cp ./dict/uz_UZ_Cyrl.dic /usr/share/uz-lat.dic

      - name: Build project with Nix
        run: nix build

      - name: Run cargo tests
        run: nix develop --command -- cargo test
